@model Community.Data.Answer

@{
    ViewBag.Title = "Delete";
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />



<h3>Esti sigur ca vrei sa stergi acesta oferta?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.RequestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Pret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pret)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Negociabil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Negociabil)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Gasit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gasit)
        </dd>*@

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sterge" class="btn btn-danger" /> 
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
